.main__wrapper {
    height: 100%;
}
.reset_password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 88px);

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 480px;
        margin: auto;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
