.page {
	font-family: 'JetBrains Mono', sans-serif;
}
.container {
	max-width: 1240px;
	padding: 0 16px;
	margin: 0 auto;
}
.main {
	padding: 40px 0;
	&__title {
		// margin-bottom: 20px;
	}
	&__wrapper {
		display: flex;
		gap: 40px;
	}
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
